:root {
    --color-heder-link: #2e2f42;
    --color-heder-link-ahf: #404bbf;
    --color-main-text: #434455;
    --bg-color-btn: #4d5ae5;
    --bg-color-btn-hf: #404bbf;
    --border-color: #e7e9fc;
    --bg-main-color: #f4f4fd;
    --bg-body-color: #ffffff;
    --color-main-title: #ffffff;
    --color-btn-text: #ffffff;
    --color-footer-logo: #f4f4fd;
    --color-footer-paragraf: #f4f4fd;
    --color-overlay-text: #f4f4fd;
    --color-social-paragraf: #ffffff;
    --color-subscribe-label: #ffffff;
    --bg-overlay-text: #4d5ae5;
    --bg-callback-form: #fcfcfc;
    --bg-modal-box: rgba(46, 47, 66, 0.4);
    --bg-social-link-hover: #31d0aa;
    --fill-icon-customer: #8e8f99;
    --fill-icon-customer-hover: #404bbf;
    --color-border-policy: #8e8f99;
    --color-text-callback: #2e2f42;
    --color-text-callback-hf: #4d5ae5;
    --color-border-callback: rgba(46, 47, 66, 0.4);
    --color-cb-policy: #f4f4fd;
    --color-cb-policy-hf: #404bbf;
    --bg-container-menu-form: #ffffff;
    --color-container-menu-active: #404bbf;
    --color-container-menu: #2e2f42;
    --color-container-menu-contacts: #434455;
    --color-container-menu-contacts-tel: #4d5ae5;
    --color-portfolio-thirdtitle-mobile: #2e2f42;
    --color-portfolio-paragraf-mobile: #434455;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--color-main-text);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: var(--bg-body-color);
    overflow-x: hidden;
}

.container {
    max-width: 428px;
    margin: 0 auto;
    padding: 0 15px;
}

a {
    text-decoration: none;
}

.link {
    text-decoration: none;
}

.paragraf {
    font-size: 16px;
}

.list {
    list-style: none;
}

.main-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: var(--color-main-title);
}

.second-title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--color-heder-link);
}

.third-header {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--color-heder-link);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Text Logo */

.link-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--bg-color-btn);
}

.header-logo-link {
    color: var(--color-heder-link);
}

.footer-logo-link {
    color: var(--color-footer-logo);
}

/* header */

.header {
    background-color: var(--bg-body-color);
    border-bottom: 1px solid var(--border-color);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-navigation {
    display: flex;
    align-items: center;
}

.menu-toggle {
    border: none;
    background-color: transparent;
    display: block;
    margin-left: auto;
    padding: 24px 0;
}

.icon-mobile_menu {
    fill: #2e2f42;
}

.header-menu,
.header-contacts {
    display: none;
}

/* main */
/* order-section */

.order-section {
    background-color: var(--color-heder-link);
    padding: 112px 0;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(/images/bg/people-office-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

@media (min-resolution: 192dpi) {
    .order-section {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(/images/bg/people-office-mobile@x2.jpg);
    }
}

.order-section .main-title {
    width: 320px;
    margin: 0 auto;
    margin-bottom: 72px;
}

.btn {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.04em;
    color: var(--color-btn-text);
    background-color: var(--bg-color-btn);
    border: none;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.btn:hover,
.btn:focus {
    background: var(--bg-color-btn-hf);
}

/* advantage-section */

.advantage-section {
    padding: 96px 0;
}

.advantage-section .list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 72px;
    margin: 0 auto;
}

.icon_advantage {
    display: none;
}

.advantage-box .third-header {
    margin-bottom: 8px;
}

.advantage-box .paragraf {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-main-text);
}

/* our-work-section */

.our-work-section {
    display: none;
}

/* team-section */

.team-section {
    background-color: var(--bg-main-color);
    padding: 96px 0;
}

.team-section .second-title {
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 72px;
    margin: 0 auto;
    align-items: center;
}

.team-list-box {
    background-color: var(--bg-body-color);
    text-align: center;
    width: 264px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team-name-position {
    padding: 32px 0;
}

.team-name-position .third-header {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-name-position .paragraf {
    text-align: center;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--color-main-text);
}

.team-name-list-social-link {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.team-icon-box .link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color-btn);
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.team-icon-box .icon {
    display: flex;
    align-items: center;
    justify-items: center;
    fill: var(--bg-main-color);
}

/* customers */

.customers {
    padding: 96px 0;
}

.customers .second-title {
    margin-bottom: 72px;
}

.customers .list {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 16px;
}

.customers-list-box {
    width: calc((100% - 16px) / 2);
    height: 88px;
}

.customers-list-box .link {
    width: 100%;
    height: 100%;
    border: 1px solid var(--fill-icon-customer);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--fill-icon-customer);
}

.icon_customers {
    display: inline-flex;
    fill: currentColor;
}

/* footer */

.footer {
    background-color: var(--color-heder-link);
    padding: 100px 0;
}

.footer .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 72px;
    margin: 0 auto;
}

/* footer-text-box */

.footer-text-box {
    margin: 0 auto;
    text-align: center;
}

.footer-text-box .link-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-text-box .paragraf {
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    color: var(--color-footer-paragraf);
    max-width: 268px;
}

/* footer-social-links-box */

.footer-social-links-box {
    margin: 0 auto;
    text-align: center;
}

.footer-social-links-box .paragraf {
    color: var(--color-social-paragraf);
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-social-links-box .list {
    display: flex;
    gap: 16px;
}

.footer-social-link-container a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color-btn);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: relative;
}

.icon-footer {
    display: inline-block;
    position: absolute;
    fill: var(--color-footer-logo);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* footer-subscribe-box */

.footer-subscribe-box {
    margin: 0 auto;
    text-align: center;
}

.footer-subscribe-box .paragraf {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-subscribe-label);
    margin-bottom: 16px;
}

.footer-subscribe-form {
    display: flex;
    gap: 24px;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 16px;
    margin: 0 auto;
}

.footer-subscribe-email-input {
    width: 398px;
    height: 40px;
    border: 1px solid var(--color-subscribe-label);
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: var(--color-subscribe-label);
}

.footer-subscribe-email-input::placeholder {
    color: var(--color-subscribe-label);
}

.btn-footer-subscribe {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--color-subscribe-label);
    cursor: pointer;
    background-color: var(--bg-color-btn);
    border: none;
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.icon-lable-subscribe {
    margin-left: 16px;
    fill: currentColor;
}

/* modal-box */

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal-box {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--bg-modal-box);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.12)) drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.2)) drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.14));
}

.callback-form {
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 392px;
    min-height: 584px;
    background: var(--bg-callback-form);
    border-radius: 4px;
    padding: 72px 16px 24px;
}

.btn_modal {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--border-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.callback-form .paragraf {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--color-text-callback);
    margin-bottom: 16px;
}

.fields-container {
    margin-bottom: 8px;
}

.field-lable {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--color-border-policy);
    display: block;
    margin-bottom: 4px;
}

.field-input {
    position: relative;
}

.username {
    width: 100%;
    height: 40px;
    border: 1px solid var(--color-border-callback);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.username:focus {
    border-color: var(--color-text-callback-hf);
}

.icon-lable {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: var(--color-text-callback);
}

.username:focus+.icon-lable {
    fill: var(--color-text-callback-hf);
}

.comments-container {
    margin-bottom: 16px;
}

.comment {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--color-border-callback);
    border: 1px solid var(--color-border-callback);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment:focus {
    border-color: var(--color-text-callback-hf);
}

.privacy-container {
    margin-bottom: 24px;
}

.privacy-lable {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--color-border-policy);
}

.checkbox-span {
    width: 16px;
    height: 16px;
    border: 1px solid var(--color-border-callback);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.chb-policy:checked+.privacy-lable .checkbox-span {
    border: none;
    background-color: var(--color-cb-policy-hf);
    fill: var(--color-cb-policy);
}

.privacy-link {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
    color: var(--color-text-callback-hf);
}

.btn-callback-send {
    min-width: 169px;
    height: 56px;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--color-btn-text);
    cursor: pointer;
    background: var(--bg-color-btn);
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    margin: 0 auto;
}

/* menu-container */

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 80px 0 40px 40px;
    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
    background: var(--bg-container-menu-form);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.menu-container.is-open {
    transform: translateX(0);
}

.btn_menu {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--bg-container-menu-form);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.menu-container-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    padding: 0px;
    margin-bottom: 284px;
}

.menu-container-nav-list-element .link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-container-menu);
}

.menu-container-nav-list-element .is-active {
    color: var(--color-container-menu-active);
}

.menu-container-contacts {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 40px;
    padding: 0px;
    margin-bottom: 48px;
}

.menu-container-contacts-element .link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-container-menu-contacts);
}

.menu-container-contacts-element:last-child .link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-container-menu-contacts-tel);
}

.menu-container-social {
    display: flex;
    gap: 56px;
}

.menu-container-social-element .link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color-btn);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: relative;
}

.icon-menu-container {
    display: inline-block;
    position: absolute;
    fill: var(--color-footer-logo);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Portfolio */

/* portfolio-section */

.portfolio-section {
    padding-top: 48px;
    padding-bottom: 48px;
}

.menu-portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    margin-bottom: 48px;
}

.btn-portfolio {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.04em;
    color: var(--bg-color-btn);
    background-color: var(--bg-main-color);
    border: 1px solid var(--border-color);
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 4px;
}

.blocks-portfolio {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.overlay-box {
    position: relative;
    overflow: hidden;
}

.overlay-text {
    display: none;
}

.portfolio-box .link {
    display: block;
    background: var(--bg-body-color);
    border: 1px solid #f4f4fd;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.portfolio-card {
    padding: 32px 32px;
    border-top: none;
    text-align: left;
}

.portfolio-card .third-header {
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-portfolio-thirdtitle-mobile);
    margin-bottom: 8px;
}

.paragraf-portfolio {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-portfolio-paragraf-mobile);
}

@media screen and (min-width: 768px) {
    .main-title {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07x;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        color: var(--color-main-title);
    }

    .container {
        max-width: 768px;
        margin: 0 auto;
        padding: 0 15px;
    }

    .header-section {
        display: flex;
        align-items: center;
    }

    .menu-toggle {
        display: none;
    }

    .header-navigation .link-logo {
        margin-right: 120px;
    }

    .header-menu {
        display: flex;
        gap: 40px;
    }

    .header-menu-link {
        display: block;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--color-heder-link);
        padding: 24px 0;
        position: relative;
    }

    .is-active {
        color: var(--color-heder-link-ahf);
    }

    .is-active::after {
        position: absolute;
        content: '';
        display: block;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--color-heder-link-ahf);
        bottom: -1px;
    }

    .header-contacts {
        display: block;
        margin-left: auto;
    }

    .header-contacts .list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 12px;
    }

    .header-contacts-link {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: var(--color-main-text);
    }

    /* main */
    /* order-section */

    .order-section {
        padding: 112px 0;
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(/images/bg/people-office-tablet.jpg);
        margin: 0 auto;
    }

    @media (min-resolution: 192dpi) {
        .order-section {
            background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url(/images/bg/people-office-tablet@x2.jpg);
        }
    }

    .order-section .main-title {
        width: 496px;
        margin-bottom: 36px;
    }

    /* advantage-section */

    .advantage-section .list {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0px;
        gap: 0;
        row-gap: 72px;
        column-gap: 24px;
        margin: 0;
    }

    .advantage-box {
        width: calc((100% - 24px) / 2);
    }

    .advantage-box .third-header {
        margin-bottom: 8px;
        text-align: left;
    }

    /* team-section */

    .team-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0;
        row-gap: 64px;
        column-gap: 24px;
        align-items: center;
        justify-content: center;
    }

    .team-name-position {
        padding: 32px 0;
    }

    /* customers */

    .customers {
        padding: 96px 0;
    }

    .customers .list {
        display: flex;
        flex-wrap: wrap;
        gap: 0;
        row-gap: 64px;
        column-gap: 24px;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        max-width: 552px;
    }

    .customers-list-box {
        width: calc((100% - 48px) / 3);
        height: 88px;
    }

    /* footer */
    .footer {
        background-color: var(--color-heder-link);
        padding: 96px 0;
    }

    .footer .container {
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 0;
    }

    .footer-text-box {
        margin: 0;
        text-align: left;
        margin-left: 108px;
    }

    /* footer-social-links-box */

    .footer-social-links-box {
        margin: 0;
        margin-left: 24px;
        text-align: left;
    }

    /* footer-subscribe-box */

    .footer-subscribe-box {
        margin: 0;
        margin-left: 108px;
        margin-top: 72px;
        text-align: left;
        flex-direction: row;
    }

    .footer-subscribe-form {
        display: flex;
        gap: 24px;
        flex-direction: row;
        align-items: left;
        padding: 0px;
    }

    .footer-subscribe-email-input {
        width: 264px;
        height: 40px;
    }

    /* modal-box */

    .callback-form {
        width: 408px;
    }

    /* Portfolio */

    /* portfolio-section */

    .portfolio-section {
        padding-top: 64px;
        padding-bottom: 96px;
    }

    .menu-portfolio {
        margin-bottom: 64px;
    }

    .btn-portfolio {
        padding: 12px 24px;
    }

    .blocks-portfolio {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
    }

    .portfolio-box {
        width: calc((100% - 24px) / 2);
    }

    /* menu-container */

    .menu-container {
        display: none;
    }
}

@media screen and (min-width: 1158px) {
    .main-title {
        font-weight: 700;
        font-size: 56px;
        line-height: 107%;
        letter-spacing: 0.02em;
        text-align: center;
        color: var(--color-main-title);
    }

    .second-title {
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: var(--color-heder-link);
    }

    .third-header {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--color-heder-link);
    }

    .container {
        max-width: 1158px;
    }

    .header-navigation .link-logo {
        margin-right: 76px;
    }

    .header-menu-link {
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-menu-link:hover,
    .header-menu-link:focus {
        color: var(--color-heder-link-ahf);
    }

    .header-contacts .list {
        flex-direction: row;
        gap: 40px;
    }

    .header-contacts-link {
        font-size: 16px;
        line-height: 1.5;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-contacts-link:hover,
    .header-contacts-link:focus {
        color: var(--color-heder-link-ahf);
    }

    .order-section {
        background-color: var(--color-heder-link);
        padding: 188px 0;
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/bg/people_office_1.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        max-width: 1440px;
        margin: 0 auto;
    }

    @media (min-resolution: 192dpi) {
        .order-section {
            background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url(../images/bg/people_office_1.jpg);
        }
    }

    /* main */
    /* order-section */

    .order-section {
        padding: 188px 0;
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/bg/people_office_1.jpg);
        max-width: 1440px;
    }

    .order-section .main-title {
        max-width: 496px;
    }

    .btn {
        margin-top: 48px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .btn:hover,
    .btn:focus {
        background: var(--bg-color-btn-hf);
    }

    /* advantage-section */

    .advantage-section {
        padding: 120px 0;
    }

    .advantage-section .list {
        gap: 24px;
    }

    .advantage-box {
        width: calc((100% - 72px) / 4);
    }

    .container-icon-advantage {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: var(--bg-main-color);
        padding: 24px 100px;
        margin-bottom: 8px;
        border-radius: 4px;
    }

    .container-icon-advantage svg {
        width: 64px;
        height: 64px;
        display: inline-block;
    }

    .advantage-box .third-header {
        margin-bottom: 8px;
    }

    .advantage-box .paragraf {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--color-main-text);
        font-style: normal;
    }

    /* our-work-section */

    .our-work-section {
        padding-bottom: 120px;
        display: block;
    }

    .our-work-section .second-title {
        margin-bottom: 72px;
    }

    .our-work-section .list {
        display: flex;
        gap: 24px;
    }

    .our-work-box {
        width: calc((100% - 48px) / 3);
    }

    /* team-section */

    .team-section {
        padding: 120px 0;
    }

    .team-section .second-title {
        margin-bottom: 72px;
    }

    .team-section .list {
        display: flex;
        row-gap: 0;
        column-gap: 0;
        gap: 24px;
    }

    .team-list-box {
        width: calc((100% - 72px) / 4);
    }

    .team-name-position .paragraf {
        text-align: center;
        margin-bottom: 8px;
    }

    .team-icon-box .link {
        position: relative;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .team-icon-box .link:hover,
    .team-icon-box .link:focus {
        background-color: var(--bg-color-btn-hf);
    }

    .team-name-position .icon {
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    /* customers */

    .customers {
        padding: 120px 0;
    }

    .customers .list {
        display: flex;
        row-gap: 0;
        column-gap: 0;
        gap: 24px;
        max-width: none;
    }

    .customers-list-box {
        width: calc((100% - 120px) / 6);
        height: 88px;
    }

    .customers-list-box .link {
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .customers-list-box .link:hover,
    .customers-list-box .link:focus,
    .customers-list-box .link:active {
        border-color: var(--fill-icon-customer-hover);
        color: var(--fill-icon-customer-hover);
    }

    /* footer */

    .footer {
        padding: 100px 0;
    }

    .footer .container {
        flex-wrap: nowrap;
    }

    /* footer-text-box */

    .footer-text-box {
        margin-left: 0;
        margin-right: 120px;
    }

    /* footer-social-links-box */

    .footer .link-logo {
        display: inline-block;
        margin-bottom: 16px;
    }

    footer .paragraf {
        max-width: 264px;
    }

    .footer-social-links-box {
        margin-left: 0px;
        margin-right: 80px;
    }

    .footer-social-link-container a {
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .footer-social-links-box a:hover,
    .footer-social-links-box a:focus {
        background-color: var(--bg-social-link-hover);
    }

    /* footer-subscribe-box */

    .footer-subscribe-box {
        margin-left: 0;
    }

    .footer-subscribe-email-input {
        width: 264px;
    }

    .btn-footer-subscribe {
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .btn-footer-subscribe:hover,
    .btn-footer-subscribe:focus {
        background: var(--bg-color-btn-hf);
    }

    .icon-lable-subscribe {
        margin-left: 16px;
        fill: currentColor;
    }

    /* modal-box */

    .modal-box {
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .callback-form {
        width: 408px;
        min-height: 584px;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding: 72px 24px 24px;
    }

    .btn_modal {
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .btn_modal:hover,
    .btn_modal:focus {
        background-color: var(--bg-color-btn-hf);
        fill: var(--color-btn-text);
        border: none;
    }

    .icon-btn-close {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .icon-btn-close:hover,
    .icon-btn-close:focus {
        fill: var(--color-btn-text);
    }

    .username {
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .username:focus {
        border-color: var(--color-text-callback-hf);
    }

    .icon-lable {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .username:focus+.icon-lable {
        fill: var(--color-text-callback-hf);
    }

    .comment {
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .comment:focus {
        border-color: var(--color-text-callback-hf);
    }

    .checkbox-span {
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1),
            fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .chb-policy:checked+.privacy-lable .checkbox-span {
        border: none;
        background-color: var(--color-cb-policy-hf);
        fill: var(--color-cb-policy);
    }

    .btn-callback-send {
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .btn-callback-send:hover,
    .btn-callback-send:focus {
        background: var(--bg-color-btn-hf);
    }

    /* Portfolio */

    /* portfolio-section */

    .portfolio-section {
        padding-top: 96px;
        padding-bottom: 120px;
    }

    .menu-portfolio {
        margin-bottom: 72px;
    }

    .btn-portfolio {
        padding: 12px 24px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .btn-portfolio:hover,
    .btn-portfolio:focus {
        color: var(--color-btn-text);
        background-color: var(--bg-color-btn-hf);
        border: 1px solid transparent;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }

    .overlay-box {
        position: relative;
        overflow: hidden;
    }

    .overlay-text {
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        padding: 40px 32px;
        background-color: var(--bg-overlay-text);
        color: var(--color-overlay-text);
        top: 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .portfolio-box {
        width: calc((100% - 48px) / 3);
    }

    .portfolio-box .link {
        box-shadow: none;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .portfolio-box .link:hover,
    .portfolio-box .link:focus {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
    }

    .portfolio-box .link:hover .overlay-text,
    .portfolio-box .link:focus .overlay-text {
        transform: translateY(0%);
    }

    .portfolio-box .portfolio-card {
        border: 1px solid var(--border-color);
        padding: 32px 16px;
        border-top: none;
    }

    .portfolio-box .third-header {
        margin-bottom: 8px;
    }
}